# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/devtools_options.yaml
/ios/Podfile.lock
/ios/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=99f871a8804b1767ea44364ef25dcc01_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0da130a050961551f578d6e7c022bd9c-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0ff6302f6ffce714342d7d158c4b3438-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=000a6971ad0711e3867636682d40c771-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1cb4bddbd07489b5934d3208ec0e47af-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2deac1b54e130ecb891eed7b8b4c4295-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=02cf8c6f01f9e00fac1cb642f0346f8f-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3d762ad169e229bd02c9c318acd808f0-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3ff283bd0d73e71eb3bfa8b1c3bf48ae-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4dcdae25d3d36ea267d94f5d1aa94028-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=4e7d3d8ad0a04bbeb0d3aa3fdbe23a7f-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5fd545c49ab6aff4b546052b75bf716a-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=9ca721157a632c75b3af36944b86e622-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0023bd4bf4e8804c3aba01054e814e1b-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=44cb6f2b9250eae39079666e33518155-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=55f5cb7fbd5a9ad66a1bf6e5524e96b8-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=65d31859a839f186de125c88279038ab-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=90c82ac3f047c43015239abd533876e7-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=99d42af47e37039b9a0c7e0af3c51645-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=218b780954ceced31610974f7b6d4202-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=293e7ac9d96d70edc1c5a91a728f5d42-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=601df948c94ccb41cf08be8731778695-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=726f4b41bfac1804cbe9b01642070fd9-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=832e8b54e5894ddfba51122a1ae8baff-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=7442caa2357ee9b7df37a1f5b5ae8da9-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=94422d7b34d0c528af3d756166f6cfd5-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0342508f9c6f388b2e2a6fb361b3b354-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=535229c4ba42f6057622bce77a171fd8-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=817571bff5d37b0d28b39d39090efee1-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=6895576306c1b72435570fe5118f501a-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a8a2c45455dafe2d8a32057477299e95-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a112232b90275915ed303a3090063549-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=aa40ede4307d9864d4c154d794e0da80-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b30cfd20a020b19cd574c76232a4a8c2-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=b63e54aa56d6d1811afaad2b27456427-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c6bc44969b84d4cb9f6f992eea86636e-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d4cb7b7e729ba89b143f553b413f05e6-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d209b5e51cb52d915a2a8d5c93fc7a7e-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=da201be2c1f0e6f74970587295b07884-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=ddf4b2eda60faaa8ae507353a1e9373b-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=df75a03ca808640ce9f54032196be2ae-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e54b5ef283a267b9a4d899ffc8ed47cb-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e69d5cd83e623773cccf0b81e2ad48eb-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e7634da9ceab17e777c614afc54c5722-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=eb10bfc6604a1e507e0d04a02cf38a14-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f1a98d0b6643fa2c7de87f64e790965c-json
/ios/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=f680a9fbc05811d9c7771d2a5c49de53-json
/ios/build/ios/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=(null)_subobjects=e6920d44ebfe5b650f05b823058d57d6-json
